{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>مدونتي</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
    </head>
    <body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
    <div class="navbar-header">
      <p class='navbar-brand'>مدونتي</p>
      </div>
        {% if user.is_authenticated %}
          <p class="navbar-text navbar-left">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></p>
        {% endif %}

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">الرئيسية</li>
      <li><a href="#">من أنا؟</li>
      <li><a href="#">اتصل بي</li>
    </ul>
  </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-9">
            {% block content %}
            {% endblock %}
            </div>

            <div class="col-sm-6 col-md-5 col-lg-3">
                <div class="well">
                <h3>أرشيف المقالات</h3>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
